{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
     
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    <div>
      <a href="https://conversionboosting.com/?partner=19401"><img src="https://static.conversionboosting.com/p/19401/cb_logo_200x39.png" alt="Logos" border="0" width="200" height="39"></a>
    </div>
  </div>
{% endif %}
