<!-- start custom analytics snippet -->
<!-- Piwik -->
{% if jekyll.environment == "production" %}
<script type="text/javascript">
  var _paq = _paq || [];
  // tracker methods like "setCustomDimension" should be called before "trackPageView"
  _paq.push(["setDoNotTrack", true]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.agilevolunteer.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.agilevolunteer.com/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
{% endif %}
<!-- End Piwik Code -->
<!-- end custom analytics snippet -->
