---
layout: single
status: publish
published: true
title: Agile? Ja, aber wie?
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 37
wordpress_url: http://agilevolunteer.com/?p=37
date: '2014-11-23 10:09:19 +0100'
date_gmt: '2014-11-23 09:09:19 +0100'
categories:
- News
tags:
- planning
- issue tracking
- scrum
comments: []
excerpt: Ein paar frühe Gedanken und Erfahrungen, wie sich Agilität auch im ehrenamtlichen Bereich leben lassen kann.
---
<p>Agile Vorgehen sind ein gutes Mittel, um ein Produkt zu entwickeln. Ich bin ein Freund davon, Sachen, die sich in professionellen Bereichen bew&auml;hrt haben, auch privat oder in ehrenamtlichen Projekten zu benutzen.</p>
<p>So auch agile Vorgehen. Ich pers&ouml;nlich habe praktische Erfahrungen nur in Scrum sammeln k&ouml;nnen. Also habe ich versucht, Scrum ehrenamtlich zu verwenden. Als Tool hilft mir dabei <a title="The Bug Genie" href="http://www.thebuggenie.com" target="_blank">The Bug Genie</a>. In PHP geschrieben unterst&uuml;tzt es gut bei der Planung und beim Arbeiten.</p>
<p>User Stories, Sprints, Bugs. Alles kann man abbilden.Aber wie lange w&auml;hlt an den Sprint? Da ich in meinem Testprojekt allein entwickle, w&auml;hlte ich zun&auml;chst einen Monat. Ich dachte mir, das w&auml;re lang genug um auch wirklich was entwickeln zu k&ouml;nnen und kurz genug, um nach dem Sprint live gehen zu k&ouml;nnnen.</p>
<p>Zwei Monate lang klappte die Entwicklung so ganz gut, dann kam mehr und mehr das Leben dazwischen. In mir verdichtete sich der Verdacht, dass feste Iterationszeiten vielleicht doch nicht so praktikabel sind. Schlie&szlig;lich arbeitet man ja nicht jeden Tag am Projekt.</p>
<p>Der n&auml;chste Versuch ist: Ausliefern, wenn die Story fertig ist. Mal sehen, wie praktikabel das wird.</p>
