---
layout: single
status: publish
published: true
title: Javascriptkonsole im nativen Android Browser
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 23
wordpress_url: http://runway-solutions.de/?p=23
date: '2014-09-12 20:24:47 +0200'
date_gmt: '2014-09-12 18:24:47 +0200'
categories:
- Development
tags:
- mobile
- debug
- android
comments: []
excerpt: Debuggen auf einem mobilen Endgerät ohne weinre

---
<p>Manchmal kommt soll es in der Entwicklung ja vorkommen, dass die Software oder eine Seite nicht so funktioniert, wie sie eigentlich soll. Manchmal stoppt die Ausf&uuml;hrung durch einen Javascriptfehler.</p>
<p>Wenn man nun weinre oder andere Debuggingtools grade nicht zur Hand hat, kann die Konsolenausgabe vom nativen Androidbrowser helfen. Ein kleiner Trick, der vielleicht viele Nerven und viel Raterei sparen kann.</p>
<p>Man &ouml;ffnet einen neuen Tab und tippt dann <code>about:debug</code> in die Adresszeile sein. Zur&uuml;ckgewechselt zum Ausgangstab kann man nun mit einem Fingerstreif die Konsole einblenden.</p>
