---
layout: single
status: publish
published: true
title: Remote Debugging
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 18
wordpress_url: http://runway-solutions.de/?p=18
date: '2014-09-12 10:04:36 +0200'
date_gmt: '2014-09-12 08:04:36 +0200'
categories:
- Development
tags:
- mobile
- debug
- remote
comments: []
excerpt: Remote Debugging auch ohne die Chrome Dev Tools - mit weinre
---
<p>Remote Debugging unterst&uuml;tzt beim Entwicklen von Webseiten. In Zeiten von Responsive Web Design und Mobile First wird ja die Unterst&uuml;tzung von diversen Endger&auml;ten unabdingbar.</p>
<p>Google hat f&uuml;r das Debugging nette Unterst&uuml;tzung in den Chrome eingebaut, Apple in den Safari. So weit so gut. Aber auch da tun sich schnell die Grenzen auf.</p>
<p>Was also tun, wenn man sich abseits von Chrome oder Safari bewegt, weil man z.B. einen Fehler nur auf dem nativen Browser auf Android feststellt.</p>
<p><a title="weinre - Remote Debugging" href="https://www.npmjs.org&#47;package&#47;weinre" target="_blank">weinre </a>kann da helfen. weinre ist &uuml;ber npm schnell installiert.</p>
<pre style="color: #000000;">npm install weinre -g<br />
weinre --boundHost 192.168.x.x&nbsp;--readTimeout 60</pre><br />
Der Server startet standardm&auml;&szlig;ig auf Port 8080. Die Seite kann direkt aufgerufen werden und man findet Installationshilfen f&uuml;r das Skript.</p>
<p>Ich habe den Skripttag in mein Entwicklungssystem eingebunden und kann somit Sachen abgreifen.</p>
<pre style="color: #000000;"><script src="<span id="url-target-script-raw">http://192.168.x.x:8080&#47;target&#47;target-script-min.js#anonymous</span>"></script></pre><br />
Unter Access Points kann man dann den Debugger aufrufen. Wenn man Firebug oder die Chrome Developer Tools kennt, dann f&uuml;hlt man sich da wohl.</p>
<p>Der HTML-Code wird abgegriffen, CSS-Selektoren k&ouml;nnen angezeigt werden und das ausgew&auml;hlte DOM-Element wird auf dem Ger&auml;t markiert.</p>
