---
layout: single
status: publish
published: true
title: Kickoff
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 12
wordpress_url: http://runway-solutions.de/?p=12
date: '2014-08-15 06:53:20 +0200'
date_gmt: '2014-08-15 04:53:20 +0200'
categories:
- News
tags:
- kickoff
comments: []
excerpt: Der Startschuss für einen Kanal meiner Überlegungen zu UX, non-profits, Arbeitserleichterungen für Entwickler und vielleicht noch einiges andere mehr 
---
<p>Schon seit l&auml;ngerem habe ich nach einem Kanal gesucht, um meine T&auml;tigkeiten im Webumfeld festzuhalten und mich ggf. auch mit anderen auszutauschen. Bisher hatte ich diesen Kanal nicht gefunden. Und nun gibt es ihn.</p>
<p>Mit ux servant m&ouml;chte ich Kleinigkeiten und Gedankeng&auml;nge aus und f&uuml;r das Internet festhalten. Es wird um Themen gehen wie Scrum, agile Softwareentwicklung, Automatisierung, Testen und wie sich diese Sachen auch in ehrenamlichen bzw. Freizeitprojekten wiederfinden.</p>
<p>Ich bin gespannt, wie sich diese Seite entwickelt. Und wie ich mich entwickle. Ich freue mich. Kickoff and go.</p>
