---
layout: single
status: publish
published: true
title: npm ohne sudo unter Ubuntu
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 79
wordpress_url: http://agilevolunteer.com/?p=79
date: '2015-03-19 19:26:59 +0100'
date_gmt: '2015-03-19 18:26:59 +0100'
categories:
- Setup
tags:
- npm
- linux
comments: []
excerpt: Linux und npm unter einen Hut zu bekommen war ohne nvm für mich lange Zeit ein Alptraum. Dann half mir ein kleiner Trick.
---
<p>Ich bin passionierter Linux Nutzer und war sehr froh, als ich meine Entwicklungsumgebung auch endlich im Ubuntu zum Laufen bekam.</p>
<p>Nodejs, Grunt oder Gulp und nat&uuml;rlich auch IntelliJ. :D</p>
<p>Eine Sache war mit aber noch ein Dorn im Auge. Ich musste alle npm Module per sudo installieren. Aber auch da konnte abhilfe geschaffen werden:</p>
<p><code>npm config set prefix ~&#47;npm</code></p>
<p>im Terminal ausf&uuml;hren und dann noch </p>
<p><code>export PATH="$PATH:$HOME&#47;npm&#47;bin"</code></p>
<p>in der <code>.bashrc</code> hinzuf&uuml;gen. Und nach dem Ausf&uuml;hren von </p>
<p><code>source ~&#47;.bashrc</code></p>
<p>l&auml;uft nun auch das Installieren von den npm Modulen sch&ouml;n ohne sudo.</p>
