---
layout: single
status: publish
published: true
title: Retina testen ohne Retina
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 75
wordpress_url: http://agilevolunteer.com/?p=75
date: '2015-04-24 09:18:24 +0200'
date_gmt: '2015-04-24 07:18:24 +0200'
categories:
- Development
tags: []
comments: []
excerpt_separator: ":</p>"
---
<p>Moderne Seiten sollten ja auch auf Retina-Displays vern&uuml;nftig aussehen. Nur wie testet man, dass das was man da in Code gegossen auch auf diesen Displays gut und richtig aussieht, wenn man grad keines zur Hand hat.</p>
<p>Ein kleine Hilfe bietet der Firefox:</p>
<p>1) In der Adresszeile <code>about: config</code> aufrufen<br />
2) Den Eintrag <code>layout.css.devPixelsPerPx</code> anpassen. 2 ist f&uuml;r Retina, 1 ist normales Display</p>
