---
layout: single
status: publish
published: true
title: jit-grunt - Ein Modul f&uuml;r Ungeduldige
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 66
wordpress_url: http://agilevolunteer.com/?p=66
date: '2015-01-12 16:30:30 +0100'
date_gmt: '2015-01-12 15:30:30 +0100'
categories:
- Setup
tags:
- grunt
- performance
- automation
comments: []
excerpt: "Wenn das Frontend mit gruntjs gebaut wird, kann es schon recht lang dauern, bis die Tasks fertig sind. Für die Ungeduldigen unter uns lädt jit-grund nur die benötigten Tasks."
---
<h2>Grunt Tasks laden</h2><br />
Ich bin ja eher einer von der ungeduldigen Sorte. Ich warte ungern und freue mich dr&uuml;ber, wenn ich Prozesse optimieren, automatisieren und beschleunigen kann. Seit dem ich von GruntJS h&ouml;rte, bin ich Fan. Man kann damit viele nervige und wieder kehrende Sachen automatisieren. Aber wem erz&auml;hl ich das..</p>
<p>Nun kommt es vor, dass mit forschreitender Projektdauer das Gruntfile und damit auch die Tasks, die der gute Taskrunner &uuml;bernimmt, immer mehr werden. Aber man ben&ouml;tigt nicht immer alle Tasks, die auch im Gruntfile definiert sind. Dummerweise wei&szlig; das Grunt aber nicht und l&auml;dt immer alle Tasks. Das kann auch schon mal seine drei, vier, f&uuml;nf Sekunden dauern. Wenn nun die Ausf&uuml;hrung des eigentlichen Tasks nur den Bruchteil einer Sekunde dauert, ist das vergeudete Zeit.</p>
<p>Es gibt ein Node-Modul, mit dem man diesem Missstand abhelfen kann:</p>
<h2>jit-grunt</h2><br />
Bindet man <a title="jit-grunt" href="https://github.com&#47;shootaroo&#47;jit-grunt" target="_blank">jit-grunt</a> in seinem Gruntfile ein, werden nur noch die Tasks geladen, die auch zum Ausf&uuml;hren ben&ouml;tigt werden. Man mag meinen, dass es keinen sonderlichen Einfluss hat, ob die Auf&uuml;hrung nun f&uuml;nf oder nur zwei Sekunden dauert. Ich als ungeduldiger Mensch kann sagen: Es macht einen Unterschied. Wem es nicht anders geht, kann das <a title="jit-grunt" href="https://github.com&#47;shootaroo&#47;jit-grunt" target="_blank">Modul</a> ja mal benutzen.</p>
<h2>Stolpersteine</h2><br />
Es kann vorkommen, dass man bei der Arbeit mit jit-grunt auf folgende Fehlermeldung st&ouml;&szlig;t:</p>
<p><code><br />
jit-grunt: Plugin for the "cssmetrics" task not found.<br />
If you have installed the plugin already, please setting the static mapping.<br />
See https://github.com&#47;shootaroo&#47;jit-grunt#static-mappings<br />
Warning: Task "cssmetrics" not found. Use --force to continue.<br />
</code></p>
<p>Diese Meldung kann zwei Herk&uuml;nfte haben:</p>
<ol>
<li>Das Modul ist nicht installiert. Dann gen&uuml;gt in der Regel ein Aufruf von npm install um den Task laufen zu lassen</li>
<li>Der Task hei&szlig;t anders als das Modul (grunt-contrib-[name], grunt-[name] oder [name]), dann muss ein statisches Mapping eingebunden werden.<br />
<code><br />
require('jit-grunt')(grunt, {<br />
sprite: 'grunt-spritesmith',<br />
hello: 'custom&#47;say-hello.js' // for custom tasks.<br />
});<br />
</code></li><br />
</ol></p>
<h2>Fazit</h2><br />
Das Modul ist f&uuml;r ungeduldige Menschen eine gro&szlig;e Hilfe und kann zur Produktivit&auml;tssteigerung beitragen. Durch die wiederholte Ausf&uuml;hrung der Tasks d&uuml;rfte sich die Einrichtungszeit auch bald rentiert haben.</p>
