---
layout: single
status: publish
published: true
title: WordPress auf SSL umstellen
author: marcel henning
author_login: rootway
author_email: marcel@agilevolunteer.com
wordpress_id: 131
wordpress_url: https://agilevolunteer.com/?p=131
date: '2016704-10 13:05:45 +0200'
date_gmt: '2017-04-10 11:05:45 +0200'
categories:
- News
- Setup
tags: []
comments: []
header:
  overlay_image: /assets/images/twitter.jpg
excerpt: Dank Lets Encrypt kann man erschwinglich ein SSL Zertifikat bekommen. Für die Inhaber von eigenen Servern bzw. mit SSH Zugriff geht die Einrichtung wohl auch recht schnell und unkompliziert.
---
<p>Dank <a href="https://letsencrypt.org">Lets Encrypt</a> kann man erschwinglich ein SSL Zertifikat bekommen. F&uuml;r die Inhaber von eigenen Servern bzw. mit SSH Zugriff geht die Einrichtung wohl auch recht schnell und unkompliziert. Was mich bisher dann doch davon abgehalten hatte, war mein Shared Host. Ich habe ja nur begrenzte Zugriff.</p>
<h2>SSL mit Lets Encrypt bei all-inkl.com</h2><br />
Da mir die Erstellung f&uuml;r den Shared Host recht l&auml;stig vorkam und die Zertifikate auch nur 90 Tage vorhalten, schrieb ich vor kurzem den Support von meinem Hoster all-inkl.com an, ob sie mir denn bei der Einrichtung eines Zertifkates behilflich sein k&ouml;nnten und ob mich das was kosten w&uuml;rde. Die Antwort des Supports kam gewohnt schnell. Und auch die Antwort freute mich. Ich m&uuml;sse lediglich die (Sub-)Domain nennen und mich authentifizieren. Gesagt, getan und nach weiteren 10 Minuten hatte ich ein Lets Encrypt Zertifikat auf der Domain. Jetzt die Umstellung meiner Domain anfangen.</p>
<h2>URL-Optionen anpassen</h2><br />
Von nun an ist es nicht mehr weit. Im Adminbereich unter <code>Einstellungen &amp;gt; Allgemein</code> kann nun noch die URLs umgestellt werden. Habt ihr eine Multisite-Installation, dann wird diese Einstellung in den Netzwerkeinstellungen unter <code>Webseiten &amp;gt; Webseite bearbeiten</code> umgestellt.</p>
<h3>Exkurs: Hauptdomain im WordPress MultiSite Netzwerk &auml;ndern</h3><br />
Wenn ihr, wie ich, die Hauptdomain eures Netzwerkes umstellen wollt, dann geht es nicht so einfach &uuml;ber die Adminoberfl&auml;che. Hierf&uuml;r sind noch ein paar Anpassungen in der WordPress Konfiguration und in der Datenbank notwendig:</p>
<ul>
<li>Die Optionen <code>siteurl</code> und <code>home</code> in der Tabelle <code>wp_options</code><sup>*</sup></li>
<li>Bei einem zus&auml;tzlichen Domainwechsel sind die &Auml;nderungen in den Tabellen <code>wp_site</code> und <code>wp-blogs</code> notwendig</li>
<li>Bei einem zus&auml;tzlichen Domainwechsel ist die Anpassung der Option <code>DOMAIN_CURRENT_SITE</code>in der <code>wp-config.php</code> notwendig</li><br />
</ul><br />
<sup>*</sup> <code>wp_</code> ist ein Platzhalter f&uuml;r deinen Datenbankprefix.</p>
<h2>URL Rewrite von http auf https</h2><br />
Nun wollen wir noch die normalen HTTP-Aufrufe auf HTTPS umleiten. Hierf&uuml;r kann in der <code>.htaccess</code> folgender Codeblock genutzt werden. (URL anpassen nicht vergessen ;-) ):</p>
<pre><code># SSL for example.org in the multisite network<br />
RewriteCond %{HTTP_HOST} ^example.org<br />
RewriteCond %{SERVER_PORT} !443<br />
RewriteRule ^(.*)$ https://org.org&#47;$1 [R,L]<br />
`</pre></p>
<p>## SSL im WordPress Admin Bereich erzwingen</p>
<p>Neben den Anpassungen in der `.htaccess` kann man durch ein paar Zeilen in der `wp-config.php` die Verwendung von SSL im Adminbereich erzwingen:</p>
<pre>`// just switch this domain in the multisite network<br />
if ( $_SERVER["HTTP_HOST"] == "example.org" ) {<br />
    define('FORCE_SSL_ADMIN', true);<br />
    define('FORCE_SSL_LOGIN', true);<br />
}<br />
</code></pre></p>
<h2>Alte Links im Content anpassen</h2><br />
Nachdem die Seite nun &uuml;ber HTTPS aufgerufen werden kann, sind dennoch Links auf den alten HTTP-Pfad in den Blogbeitr&auml;gen. Hier kann das Plugin <a href="https://de.wordpress.org&#47;plugins&#47;velvet-blues-update-urls&#47;">Velvet Blues Update URLs</a> Abhilfe schaffen. Es durchsucht den gesamten Content (Posts, Custom Post Types, Medien etc.) nach einer URL und ersetzt sie mit einer neuen URL. Genau das Richtige, um die Links von http auf https zu &auml;ndern.</p>
<p>Meine Seite verwendet ein Logo im Header, das &uuml;ber den Theme Customizer eingef&uuml;gt werden kann. Solche Bilder ersetzt das Plugin leider nicht mit. Um hier den HTTPS-Link zu erhalten, konnte ich das Bild im Customizer aus dem Theme entfernt und erneut hinzugef&uuml;gen.</p>
<p>Nun noch einen Blick in die <a href="http://webmasters.stackexchange.com&#47;questions&#47;8525&#47;how-to-open-the-javascript-console-in-different-browsers">Konsole des Browsers</a> werfen um sicher zu stellen, ob alle HTTP-Verweise ersetzt wurden. Und fertig.</p>
<h2>Edit: Web Fonts</h2><br />
Ein kleiner Hinweis, den ich noch von <a href="https://twitter.com&#47;bisonfute">@bisonfute</a> erhielt, war auch die Einbindung von WebFonts durchzusehen. Bei mir hatten sich noch ein paar mit eingeschmuggelt. Hier hilft es, um Stylesheet die Referenzierung von <code>http://path.to.webfont</code> auf <code>//path.to.webfont</code> zu &auml;ndern.</p>
<h2>Zusammenfassung</h2><br />
Eine WordPressinstallation auf SSL umzustellen ist dank einiger Hilfmittel recht schnell zu bewerkstelligen. Die Seiten-URLs k&ouml;nnen in den meisten F&auml;llen direkt in der Oberfl&auml;che von WordPress ge&auml;ndert werden, f&uuml;r die Ersetzung im Content unterst&uuml;tzen Plugins. Dank Lets Encrypt kann man Zertifikate frei erhalten. Selbst mit einen kleinen &Auml;nderungen in einem Texteditor kann eine WordPress Multisite-Installation unkompliziert umgestellt werden.</p>
